<p id="notice"><%= notice %></p>
<div class="columns">
  <div class="column col-1"></div>
  <div class="column col-10">
    <div class="card">
      <div class="card-header">
        <div class="card-title h5"><%= @post.title %></div>
        <div class="card-subtitle text-gray"><%= @post.created_at.strftime("%b %d, %Y at %I:%M %p") %></div>  
      </div>
      <div class="card-body"><%= @post.body %></div>
      <div class="card-footer">
        Published: <%= @post.published %>
        <span class="float-right">
          <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %>
          <%= link_to 'Back', posts_path, class: "btn btn-dark" %>
        </span>
      </div>
    </div>
  </div>
  <div class="column col-1"></div>

</div>


